DEBUG=False
ALLOWED_HOSTS=your_ec2_ip_or_domain.com,www.your_ec2_ip_or_domain.com
SECRET_KEY=django-insecure-w5kcv-^c&o#gc)f)a1@0n18a(4d(4h08u&jx0#k*cx1o%h)91q
DB_NAME=muebleria
DB_HOST=DESKTOP-L69CEH2
DB_USER=sa
DB_PASSWORD=1234
